html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    border-width: 7px;
    border-style: solid;
    border-color: red;
    width: 70px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
               
}
.label{
    display: flex;
    background-color: black;
}

.company-Label{
    font-size: 70px;
    padding-top: 15px;
    color: rgb(221, 238, 248);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;
    text-decoration: underline;
    text-decoration-color: red;
    letter-spacing: 1px;
}

.testing{
    background-color: grey;
    display: flex;
    flex-grow: 1;
}



.param_text{
    font-size: 50px;
    color: rgb(221, 238, 248);
    background-color: black;
    display: flex;
    padding: 15px;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.previous{
    height: 30px;
    margin: 10px;
}

.receptor{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ligand{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content1{
    position: relative;
    background-color: white;
    left: 100px;
    top: 100px;
}

.docking{
    position: relative;
    background-color: white;
    left: 150px;
    top: 100px;
    bottom: 0;
    height: 300px;
    
}

.docking_words{
    font-size: 50px;
    color: rgb(221, 238, 248);
    background-color: black;
    display: flex;
    padding: 15px;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}

.run{
    background-color: rgb(255, 255, 255);
    height: auto;
    right: 300px;
    top: 450px;
    position: relative;
    height: 50px;
    padding-top: 10px;
    padding-right: 10px;
}

.run_button{
    margin-left: 10px;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aqua;
}

.Vina{
    font-size: 25px;
    padding-left: 15px;

}

.Vina_text{
    height: 20px;
    width: 250px;
    color: black;
}
